.perfect-center{
  &-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  &-all{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.chat{
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  color: white;
  background: $color-chat-blue;
  border-radius: 1rem;
  border-top-left-radius: 0;
}
